# Git
.git
.gitignore

# Dev
.vscode
.deprecated
venv/
HomeDockVenvDEV/
node_modules/
package*.json

# Runtime
compose-link/
_user_packages/
dropzone/
logs/
_update/

# DinD Vols
_DATA/

# Config
homedock_server.conf
homedock_ports.conf
homedock_dropzone.conf

# Arts
*.pyc
__pycache__/
.DS_Store

# Flags
.is_updating
.is_desktop
.is_enterprise
.is_docker

# Baks
*.backup_*
*.hds

# Other
otherfiles/
unstaged_test.py
HomeDockOS_Update.*.zip
Dockerfile
docker-compose.yml
.dockerignore

