__pycache__/
.vscode/
HomeDockVenvDEV/
pymodules/__pycache__/
compose-link/
dropzone/
logs/
otherfiles/
_update/
homedock_ports.conf
homedock_server.conf
homedock_dropzone.conf
homedock-ui/static/images/wallpapers/back_custom.jpg
node_modules/
.deprecated/
.vite/
.DS_Store
