@import "./antd.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body,
html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overscroll-behavior: none;
}

body.theme-default {
  background-color: rgb(243, 244, 246);
}

body.theme-noir {
  background-color: rgb(39, 39, 42);
}

body.theme-aeroplus {
  background-color: rgb(39, 39, 42);
}

a img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

a {
  text-decoration: none;
}

.menu-link {
  color: inherit !important;
}

@keyframes noscript-gradient {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}

.anim-pusher {
  animation: ThreeDeePopIn 0.7s ease-in-out forwards;
}

@keyframes ThreeDeePopIn {
  0% {
    opacity: 0;
    transform: scale(2) perspective(600px) rotateX(45deg) translateZ(-100px);
  }

  100% {
    opacity: 1;
    transform: scale(1) perspective(600px) rotateX(0deg) translateZ(0px);
  }
}
