{# homedock-ui/template/control-hub.html #}
{# Copyright © 2023-2025 Banshee, All Rights Reserved #}
{# https://www.banshee.pro #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="homedock_csrf_token" content="{{ session['homedock_csrf_token'] }}" />
    {{ vitecss("global") | safe }}
    {{ vitecss("__appstore__") | safe }}

    <title>App Store • HomeDock OS {{ version }}</title>
  </head>

  <body class="theme-{{ selected_theme }}">
    <div id="app-appstore-root"></div>

    <script id="data-theme" type="application/json">
      {{ { "selected_theme": selected_theme, "selected_back": selected_back } | b64encode }}
    </script>

    <script id="data-common" type="application/json">
      {{ { "version": version, "user_name": user_name } | b64encode }}
    </script>

    <script id="data-settings" type="application/json">
      {{ { "user_name": user_name } | b64encode }}
    </script>

    {{ vitejs("__appstore__") | safe }}
    
    {% include 'partials/hd_UIPartialNoJavascript.html' %}
  </body>
</html>
